<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpatialTutorial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XRouteWSBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8888/xroute/ws/XRoute" binding="basicHttpBinding" bindingConfiguration="XRouteWSBinding" contract="XRouteServiceReference.XRouteWS" name="XRouteWSPort" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SpatialTutorial.Properties.Settings>
      <setting name="token" serializeAs="String">
        <value>D1D08F9F-BE5B-41AE-8DBE-93F392BED0C7</value>
      </setting>
      <setting name="SpatialTutorial_XRouteServiceReference_XRouteWSService" serializeAs="String">
        <value>https://xroute-eu-n-test.cloud.ptvgroup.com:443/xroute/ws/XRoute</value>
      </setting>
    </SpatialTutorial.Properties.Settings>
  </applicationSettings>  
</configuration>
